* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	background: #eee;
}

/* TABS */
.tab--container {
	display: flex;
}
.tab--container div {
	margin-right: 2rem;
    padding-bottom: 1rem;
    font-size: 0.7rem;
}
.tab--container div:hover {
	border-bottom: 2px solid #0b3;
}
.tab--container .tab--active {
	border-bottom: 2px solid #0b3;
}

/* BLOG COMPONENTS */

.blog--row {
	display: flex;
}
.blog--img, .blog--sample {
	flex: 1;
}
.blog--body h2 {
	font-size: 0.7rem;
	margin-bottom: 0;
}
.blog--body {
	padding: 1rem;
}
.blog--body p {
	font-size: 0.5rem;
	color: #555;
	line-height: 0.8rem;
}
.blog--body small {
	font-size: 0.5rem;
	color: #888;
}
.blog--img {
	margin-right: 2rem;
	min-height: 13rem;
	position: relative;
}
.blog--cont-autor {
	position: relative;
}
.blog--body-img {
	height: 10rem;
    background-image: url(https://hgtvhome.sndimg.com/content/dam/images/hgtv/fullset/2007/2/14/0/sassaman_office.jpg.rend.hgtvcom.1280.960.suffix/1400940088088.jpeg);
    background-size: cover;
    position: relative;
    padding: 1rem;
}

.blog--body-img small, .blog--body-img h4 {
	margin: 0;
}
.blog--body-img small {
	font-size: 0.5rem;
}

.blog--overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background: #000;
	right: 0;
	opacity: 0.2;
}

.blog--sample {
	background: #fff;
	margin-right: 2rem;
	position: relative;
}
.blog--img-content {
	color: #fff;
	position: absolute;
	bottom: 1rem;
}

/* BLOG AUTOR COMP */

.blog--autor {
	display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
    position: absolute;
    bottom: 0;
    padding-bottom: 1rem;
    width: 100%;
    border-top: 1px solid #eee;
}
.blog--autor-name * {
	margin: 0;
}
.blog--autor-name {
	padding-top: 0.5rem;
	padding-left: 0.3rem;
}
.blog--autor-name h4 {
	font-size: 0.5rem;
}
.blog--autor-name p {
	font-size: 0.3rem;
}
.blog--upvote {
	width: 2rem;
    height: 2rem;
    position: absolute;
    background: #f30;
    text-align: center;
    font-size: 0.7rem;
    border-radius: 100%;
    line-height: 2rem;
    right: 1rem;
    color: #fff;
    top: -1rem;
}