* {
	box-sizing: border-box;
}

p {
	margin: 0;
}

body {
	background:#ddd;
	font-size: 16px;
	font-family: sans-serif;
}

.profile--container {
	background-color: #09b;
    width: 12rem;
    margin: 0 auto;
    height: 100vh;
}

.row-img--container {
	background-image: url(https://adayinthelifeimages.com/wp-content/uploads/2016/05/brisbane-headshots-commercial-photography-09.jpg);
    background-size: cover;
    width: 100%;
    height: 12rem;
    position: relative;
    background-position: center top;
}

.row-label--container {
    background: rgba(0, 153, 187, 0.6);
    position: absolute;
    width: 100%;
    bottom: 0;
    color: #fff;
    font-size: 0.8rem;
    padding: 0.5rem;
}

.row-col--container {
	display: flex;
}
.flex--3 {
	flex: 3;
	background: #09b;
    padding: 0.5rem;
    text-align: center;
    position: relative;
    color: #fff;
}
.flex--border::after {
	content: '';
    width: 0.03rem;
    height: 1.2rem;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    right: 0;
}
.row-desc--container {
    font-size: 0.6rem;
    padding: 0.5rem;
    background: #09b;
    color: #fff;
}