* {
	box-sizing: border-box;
}

p {
	margin: 0;
	text-align: center;
	margin-bottom: 0.6rem;
}

body {
	background-color: #09b;
	font-size: 16px;
	font-family: sans-serif;
}

.formulario {
	background-color: #fff;
    width: 13rem;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1.8rem;

}

button {
	border: 0;
    background-color: #09b;
    color: #fff;
    width: 100%;
    border-radius: 0.15rem;
	font-size: 0.6rem;
	line-height: 1.1rem;
	cursor: pointer;
}

button:hover {
	background-color: #07b;
}

.form--field {
	font-size: 0.55rem;
    width: 100%;
    border: 0.03rem solid #ccc;
    border-radius: 0.15rem;
    padding-left: 0.3rem;
    line-height: 1.1rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}
.form--field:focus {
	outline-color: #07b;
}

.form--check {
    width: 0.6rem;
    margin: 0;
}

label {
	font-size: 0.5rem;
}

.table--div {
	display: table;
	margin-bottom: 0.3rem;
}

.row--div {
	display: table-row;
}

.cell--div {
	display: table-cell;
	vertical-align: middle;
}

/* PSEUDO ELEMENTO */
.cell--div:last-child {
    padding-left: 0.2rem;
}